
.hidden {
  display: none;

}
.container{
  border-style: double inset;
  border-color: rgb(190, 109, 228); 
  margin: 0%;
  font-family: Georgia, 'Times New Roman', Times, serif
}
.header{
  text-align: center;
  background-color: lightseagreen;
  margin: 4%;
  border-style: double inset;
  border-color: rgb(190, 109, 228); 
}
.header:hover{
  background-color: rgb(61, 189, 157);
}
#minutes{
  border-style:solid;
  border-color: rgb(190, 109, 228); 
}

#js-search-term{
  border-style:solid;
  border-color: rgb(190, 109, 228); 
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 75%;
  height: 100%;
}


.group {
  display: flex;
  flex-direction: column;

}
#js-form{
  margin: auto;
  width: 70%;
  padding: 1%;
  border-style: outset;
  border-width: 1px;
  border-color: lightseagreen;

}
.reset{
  position: absolute;
  right: 7%;
  border-style: ridge;
}
.go{
  float: right;
  background-color: rgb(138, 207, 204);
  width: 17%;
}
.go:hover{
  background-color: rgb(61, 189, 157);
}
.reset:hover{
  border-color: lightseagreen;
}
#results-list{
  display: flex;
  flex-direction: column;
  width: 75%;
  list-style-type: none;
  padding-top: none;
  margin-top: none;
}

@media all and (min-width: 500px){
  header section h1{
    display: flex; 
    padding: 0 10%;
  }
  .group{
  flex-direction: row;
  }
}
